.calls-table {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 24px 40px 57px 12px;
}

.calls-table__header-item {
  display: inline-block;
  color: var(--text-header, #899cb1);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
}

.calls-table__header-row {
  display: flex;
  align-items: center;
}

.calls-table__header-item-checkbox {
  max-width: 16px;
  margin-right: 12px;
}

.calls-table__header-item-type {
  max-width: 53px;
  width: 100%;
}

.calls-table__header-item-time {
  max-width: 89px;
  width: 100%;
}

.calls-table__header-item-employee {
  max-width: 128px;
  width: 100%;
}

.calls-table__header-item-call {
  max-width: 326px;
  width: 100%;
}

.calls-table__header-item-from {
  max-width: 214px;
  width: 100%;
}

.calls-table__header-item-rating {
  max-width: 461px;
  width: 100%;
}

.calls-table__row {
  display: flex;
  align-items: center;
  border-top: 1px solid #eaf0fa;
}

td {
  padding: 22px 0;
  color: var(--text, #122945);
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

tr:hover {
  cursor: pointer;
  background-color: #f8fafd;
}

tr:hover span {
  opacity: 1;
}
